.carrousel-container {
    height: 500px;
    position: relative;
    border-radius: 25px;
    margin: 20px;

    @include xs {
        height: 255px;
        margin: 10px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;

    }

    .prev-btn {
        position: absolute;
        top: 50%;
        left: 10px;
        background: none;
        border: none;
        cursor: pointer;
        @include xs {
            height: 20px;
            
        }
        &:hover {
            opacity: 0.5;
        }
    }
    .btn-none {
        display: none;
    }

    .next-btn {
        position: absolute;
        top: 50%;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        @include xs  {
            height: 20px;
            
        }
        &:hover {
            opacity: 0.5;
        }
    }

    .p-carrousel {
        position: absolute;
        right: 50%;
        bottom: 10px;
        color: $white;

        @include xs {
            font-size: 14px;
            right: 45%;
        }

    }

}