.drop{

    width: 100%;
    margin: 10px;
    @include xs {
      margin: 10px 0 10px 0;
    }
   
      .dropdown-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        color: $white;
        background: $color-1;
        
        padding: 10px;
        border-radius: 10px;

        h3 {
          @include xs {
            font-size: 14px;
          }
        }
        
        
        img{
          place-self: center;

          @include xs {
            height: 10px;
          }
          
          
        }
        
        
      }
      
      .drop-content {
        background: #F7F7F7;
        line-height: 1.8rem;
        padding: 10px;
        border-radius: 0 0 10px 10px;
        opacity: 1;
        transition: 0.3s;

        p {
          @include xs {
            font-size: 12px;
          }
        }

        li {
          @include xs {
            font-size: 12px;
          }
        }
      }
      
      .drop-content-close {
        
        opacity: 0;
        transition: 0.3s;
        
      }
      
    
    }

    .drop--about{
      margin: 10px 0 10px 0;
      padding: 0 50px 0 50px;

      @include xs {
        padding: 0 10px 0 10px;
      }
     
        .dropdown-container {
          display: flex;
          width: 100%;
          justify-content: space-between;
          color: $white;
          background: $color-1;
          
          padding: 10px;
          border-radius: 10px;
          
          h3 {
            @include xs {
              font-size: 14px;
            }
          }
          
          img{
            place-self: center;
            @include xs {
              height: 10px;
            }
            
          }
          
          
        }
        
        .drop-content {
          background: #F7F7F7;
          line-height: 1.8rem;
          padding: 10px;
          border-radius: 0 0 10px 10px;
          opacity: 1;
          transition: 0.3s;
          p{
            @include xs {
              font-size: 12px;
            }
          }
        }
        
        .drop-content-close {
          
          opacity: 0;
          transition: 0.3s;
          
        }
        
      
      }