.navigation {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    @include xs {
      padding: 5px;
    }

    img{
      @include xs {
        width: 145px;
      }
    }
    
    ul {
       display: flex;
    justify-content: flex-end;
       place-items: center center;

       @include xs {
        justify-content: space-around;
        
        
       }
        a {
            text-decoration: none;
            padding: 10px;
            @include xs {
              padding: 0;
            }
        }

        li{
            color: $color-1;
            transition: 0.2s;
            cursor: pointer;
            @include sm {
              height: 15px;

            }
            @include xs {
              text-transform: uppercase;
              width: 100%;
              font-size: 12px;
            }
            @include xxs {
              font-size: 10px;
            }
            &:hover {
                color: $color-2;
            }          
        }     

        .nav-active {
            position: relative;
      
            &::after {
              content: "";
              height: 2px;
              width: 0;
              background: $color-1;
              position: absolute;
              border-radius: 10px;
              bottom: 0px;
              left: 50%;
              transform: translateX(-50%);
              -webkit-animation: anim 0.3s ease forwards;
              animation: anim 0.6s ease forwards;
              @include xs {
                height: 1px;
              }
      
              @-webkit-keyframes anim {
                to {
                  width: 100%;
                }
              }
              @keyframes anim {
                to {
                  width: 100%;
                }
              }
            }
          }





    }
}