.house-container {
    padding: 50px;
    background-color: #F7F7F7;
    margin: 0 20px 0 20px;
    border-radius: 25px;

    @include xs {
        padding: 0 10px 0 10px;
        margin: 5px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .house-link {
            text-decoration: none;
            color: $white;

            div {
                position: relative;
                display: block;
                height: 320px;
                width: 320px;
                background: red;
                margin: 10px;
                border-radius: 10px;
                @include xs {
                    height: 325px;
                    width: 325px;
                }
                @include xxs {
                    height: 250px;
                    width: 250px;
                }
                &:hover {
                    // opacity: 0.8;

                    & img {
                        filter:brightness(80%)
                    }
                }

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    filter: brightness(50%);
                
                }

                h2{
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                   
                }
            }
        }
    }
}