

.carrousel-content {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    @include xs {
        flex-direction: column;
    }

    .carrousel-content-left {
     
        @include sm {
            margin: 0 10px 0 10px;
        }
        h2 {
          
            @include sm {
                font-size: 18px;
            }
        }
        p{
            margin-top: 10px;
           
            @include sm {
                font-size: 14px;
            }
        }
        .tags-container {

            
            
            li {
             
                @include sm {
                    height: 15px;
                    font-size: 10px;
                    padding: 7px 15px 7px 15px;
                }
            }
        }
            
    }

    .carrousel-content-right{
        @include xs {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        
        }
        @include sm {
            margin: 0 10px 0 10px ;
        }
        ul {
            margin-top: 20px;
         @include xs {
            align-self: center;
            margin-top: 0;
         }

            img {
              
                @include sm {
                    height: 13px;
                    width: 13px;
                }
            }
        }

        .carrousel-content-right-top{
            display: flex;
            align-items: center;
            p {
              
                @include sm {
                    font-size: 12px;
                }
            }
            img {
                border-radius: 50%;
                height: 60px;
                width: 60px;
                margin: 0 0 0 5px;
                object-fit: cover;
                
                @include sm {
                    height: 32px;
                    width: 32px;
                }
            }
        }
        
    }
}

.carrousel-main {
   display: flex;
 justify-content: space-between;

 @include xs {
    flex-direction: column;
    padding: 0 10px 0 10px ;
 }
 

}