@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

$font-1: "font-1", sans-serif;

$color-1: #FF6060;
$color-2: #ff6060b3;
$color-3: #E3E3E3;
$color-4:#F6F6F6;
$black: #000;
$white: #fff;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

body {
    background: $white;
    font-family: $font-1;
    margin: 0 auto;
    color: $color-1;
}

li{
    list-style-type: none;
}